header {
  display: grid;
  place-items: center;
}

header hr {
  width: 80vw;
  margin-bottom: 1rem;
}

footer {
  display: grid;
  place-items: center;

  background-color: black;
  color: white;

  height: 6rem;
}

/* This setting solves the issue */
  img {
   width: 100%;
   height: auto;
   aspect-ratio: attr(width) / attr(height);
  }

